/* loader default CSS */
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
.dim
{
    top: 54px;
    position: absolute;
    z-index: 900;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.loader {
    z-index: 9999;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid gray;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}
#jsheet
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.jsheet-contents
{
    position: relative;
    height: 100%;
    width: 100%;
}
td, th {
    border: 1px solid #8c8c8c;
    padding: 0px;
    word-wrap: break-word;
    overflow: hidden;
    /*white-space: nowrap;*/
    /*padding: 15px 10px 15px 10px;*/
    /*min-width: 125px;*/
}
th
{
    text-align: center;
    height: 30px;
    background-color: #E0E0E0;
}
td
{
    padding: 5px;
}
.jsheet-table
{
    background-color: #FAFAFA;
}
.jsheet-table-header-warp
{
    position: relative;
    margin-right: 15px;
}
.jsheet-table-body-warp
{
    position: relative;
    max-height: 100%;
}
.jsheet-table-header
{
    display: block;
    max-width: 100%;;
    overflow: hidden;
    z-index: 100;
}
.jsheet-table-header-fixed
{
    position: absolute;
    top: 0;
    background: white;
    z-index: 101;
}
.jsheet-table-body
{
    display: block;
    position: absolute;
    max-width: 100%;
    max-height: 500px;
    overflow: auto;
}
.jsheet-table-body-fixed
{
    position: absolute;
    display: block;
    left: 0;
    background: white;
    max-height: 485px;
    overflow: hidden;
    z-index: 101;
}
.controll-bar-list
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}
.controll-bar-list-item
{
    list-style-type: none;
    float: left;
    color: white;
    min-width: 15px;
    padding: 5px 10px 5px 10px;
    margin: 3px 10px 3px 10px;
    cursor: pointer;
}
.controll-bar-list-item:hover
{
    background-color: #E0E0E0;
    color: black;
}

.controll-bar-list-item:active {
    background-color: gray;
    color: white;
}

